.contact
  .container
    .row
      .col-md-12
        .titlepage.text_align_center
          span 05
          h2 Requste A Call Back
      .col-md-8.offset-md-2
        form#request.main_form
          .row
            .col-md-12
              input.form_control(placeholder='Your name', type='type', name=' Name')
            .col-md-12
              input.form_control(placeholder='Phone Number', type='type', name='Phone Number')
            .col-md-12
              input.form_cont(placeholder='Message', type='type', name='message')
            .col-md-12
              .group_form
                button.send_btn Send
                button.send_btn Location