.customers
  .container
    .row
      .col-md-12
        .titlepage.text_align_center
          span 04
          h2 What is Saying Customers
    .row
      .col-md-12
        .satteb.text_align_center
          p
            | fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that itfact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that itfact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that itfact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it
          h3 The point of using 
          i
            img(src='images/custo.jpg', alt='#')