html
  head
  body
    footer
      .footer
        .container
          .row
            .col-md-12
              ul.menu_footer
                li
                  a.active(href='index.html') Home
                li
                  a(href='about.html') About
                li
                  a(href='services.html') Services
                li
                  a(href='gallery.html') Gallery
                li
                  a(href='projects.html') Projects
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
            .col-md-12
              ul.top_infomation
                li
                  a(href='javascript:void(0)')
                    i
                      img(src='images/loc.png', alt='#')
                li
                  a(href='javascript:void(0)')
                    i
                      img(src='images/call.png', alt='#')
                li
                  a(href='javascript:void(0)')
                    i
                      img(src='images/mail.png', alt='#')
        .copyright
          .container
            .row.d_flex
              .col-md-8
                p
                  | &copy; 2022 All Rights Reserved. Design by  
                  a(href='https://html.design/')  Free html Templates
              .col-md-4
                ul.social_icon_bottom
                  li
                    a(href='Javascript:void(0)')
                      i.fa.fa-facebook(aria-hidden='true')
                  li
                    a(href='Javascript:void(0)')
                      i.fa.fa-twitter(aria-hidden='true')
                  li
                    a(href='Javascript:void(0)')
                      i.fa.fa-linkedin(aria-hidden='true')