
.gallery
  .container_with
    .row
      .col-md-12
        .titlepage.text_align_center
          span 01
          h2 Recent Picture Shots
    .tz-gallery
      .row
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g1.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g1.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  |  letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g2.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g2.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  |  letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g3.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g3.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  |  letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g4.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g4.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  |  letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g5.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g5.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  |  letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g6.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g6.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  | letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g7.jpg', alt='Bridge')
            .view_main
             .pose
                a.read_more(href='images/g7.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  | letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g8.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g8.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  | letters, as opposed to using
        .col-lg-4.col-md-6.ma_bottom30
          .lightbox
            img(src='images/g9.jpg', alt='Bridge')
            .view_main
              .pose
                a.read_more(href='images/g9.jpg')
                  img(src='images/ga.png', alt='#')
                p
                  | more-or-less normal distribution of
                  br
                  |  letters, as opposed to using
        .col-md-12
          a.plus_btn(href='gallery.html') +