.team
  .container_with
    .row
      .col-md-12
        .titlepage.text_align_center
          span 03
          h2 Our Team
      .col-md-4
        .team_box.text_align_center
          .team_img
            figure
              img(src='images/team1.jpg', alt='#')
          .craig
            h3 CRAIG NELSON
            span PHOTOGRAPHER
            ul.social_icon
              li
                a(href='Javascript:void(0)')
                  i.fa.fa-facebook(aria-hidden='true')
              li
                a(href='Javascript:void(0)')
                  i.fa.fa-twitter(aria-hidden='true')
              li
                a(href='Javascript:void(0)')
              i.fa.fa-linkedin(aria-hidden='true')
      .col-md-4
        .team_box.text_align_center
          .team_img
            figure
              img(src='images/team2.jpg', alt='#')
          .craig
            h3 JESSIE PRATT
        span PHOTOGRAPHER
            ul.social_icon
              li
                a(href='Javascript:void(0)')
                  i.fa.fa-facebook(aria-hidden='true')
              li
               a(href='Javascript:void(0)')
                  i.fa.fa-twitter(aria-hidden='true')
              li
                a(href='Javascript:void(0)')
                  i.fa.fa-linkedin(aria-hidden='true')
      .col-md-4
         .team_box.text_align_center
          .team_img
           figure
              img(src='images/team3.jpg', alt='#')
          .craig
            h3 PRATT
            span PHOTOGRAPHER
            ul.social_icon
              li
                a(href='Javascript:void(0)')
                  i.fa.fa-facebook(aria-hidden='true')
              li
                a(href='Javascript:void(0)')
                  i.fa.fa-twitter(aria-hidden='true')
              li
                a(href='Javascript:void(0)')
                  i.fa.fa-linkedin(aria-hidden='true')