include partials/_header.pug
include partials/_bodynavig.pug
include partials/_carousel.pug
include partials/_gallery.pug
include partials/_about.pug
include partials/_team.pug
include partials/_customers.pug
include partials/_contact.pug
include partials/_htmlinc.pug
include partials/_footer.pug
